@use "sass:map";
@use "temas" as *;
@use "tools" as *;

:root {
  @include theme-vars(map.get($themes, light));
}

@media (prefers-color-scheme: dark) {
  :root {
    @include theme-vars(map.get($themes, dark));
  }
}

[data-theme="dark"] {
  @include theme-vars(map.get($themes, dark));
}

[data-theme="light"] {
  @include theme-vars(map.get($themes, light));
}
